<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/CSS/grid.css">
    <link rel="stylesheet" href="./assets/CSS/style.css">
    <title>Template</title>
</head>
<body>
    <header>
        <div class="container header-wrapper">
            <div class="logo">
                <h1>Start Bootsrtap</h1>
            </div>
            <div class="navbar">
                <nav>
                    <ul class="nav-list">
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Home</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                    <div class="nav-menu">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section id="hero">
            <div class="container hero-wrapper">
                <div class="hero-info">
                    <h2>A Bootstrap 5 template for modern businesses</h2>
                    <p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!</p>
                    <div class="hero-btns">
                        <button>Get Start</button>
                        <button>Learn More</button>
                    </div>
                </div>
                <div class="hero-img">
                    <img src="https://dummyimage.com/600x400/343a40/6c757d" alt="">
                </div>
            </div>
        </section>
        <section id="feature">
            <div class="container feature-wrapper row">
                <div class="feature-info col col-3">
                    A better way to start building.
                </div>
                <div class="feature-cards col col-9 row">
                    <div class="feature-card col col-6">
                        <i></i>
                        <h4>Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="feature-card col col-6">
                        <i></i>
                        <h4>Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="feature-card col col-6">
                        <i></i>
                        <h4>Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="feature-card col col-6">
                        <i></i>
                        <h4>Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>