<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assests/CSS/grid.css">
    <link rel="stylesheet" href="./assests/CSS/style.css">
    <title>Start Bootstrap</title>
</head>
<body>
    <header>
         <div class="container">
              <div class="nav-left">
                  <div class="logo">
                     <h1>Start Bootstrap</h1>
                  </div>
                  <div class="navbar">
                    <ul class="nav-list">
                        <li><a href="">Home</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                  </div>
              </div>
              <div class="nav-right">
                  <button class="nav-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                     <span>Cart</span>
                     <span>0</span>
                  </button>
              </div>
         </div>
    </header>
    <main>
        <section id="hero">
             <div class="hero-wrapper">
                <h2> Shop in Style</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, amet.</p>
             </div>
        </section>
        <section id="products">
             <div class="container row products">

                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>

                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>
                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>
                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>
                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>
                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>
                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>
                  <div class=" col col-3">
                    <div class="product">
                        <div class="product-image">
                           <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                        </div>
                        <div class="product-info">
                           <h3>Fancy</h3>
                           <span>40$- 80$</span>
                           <button>View</button>
                        </div>
                     </div>
                  </div>
            
             </div>
        </section>
    </main>
    <footer>
        <span>Copyright © Your Website 2023</span>
    </footer>
</body>
</html>