$size: 16px;
$gap: $size;
$gap-xs: .5rem;
$gap-s: .75rem;
$gap-m: 1.25rem;
$gap-l: 1.5rem;
$gap-xl: 2rem;
$gap-xxl: 3rem;
$gap-xxxl: 6rem;
$gap-xxxxl: 7rem;
$padding: $size;
$padding-xxs: .3rem;
$padding-xs: .5rem;
$padding-s: .75rem;
$padding-m: 1.25rem;
$padding-l: 1.5rem;
$padding-xl: 2rem;
$padding-xxl: 3rem;
$padding-xxxl: 6rem;
$padding-oversize: 4rem;
$margin: $size;
$margin-xxs: .3rem;
$margin-xs: .5rem;
$margin-s: .75rem;
$margin-m: 1.25rem;
$margin-l: 1.5rem;
$margin-xl: 2rem;
$margin-xxl: 3rem;
$margin-xxxl: 5rem;