*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
}

.container{
    margin: 0px auto;
    width: 80%;
}